
{%  extends 'base.html' %}
{% load static %}




{% block content %}
         <!--header-->
            <header class="bg-dark text-white py-5">
                <div class="container px-4 px-lg-5">
                    <div class="text-center text-uppercase">
                        <h1 class="mb-4">Home</h1>
                        <p class="lead">Welcome home</p>
                    </div>
                </div>
            </header>
            <li class="nav-item"><a class="nav-link" href="{% url 'add_infodata' %}">o'likni ro'yhatga olish </a></li> 

            <li class="nav-item"><a class="nav-link" href="{% url 'home_selle' %}">Qabristonda joy sotib olish  </a></li> 







{% endblock%}